{% extends "home.html" %}
{% load static %}
{% block detail %}
<h1 class="mt-24 text-3xl font-bold tracking-normal leading-8 text-gray-900 sm:mt-10 sm:text-6xl">Give presents to kids this Christmas</h1>
    <p class="mt-6 text-lg leading-8 text-gray-600">Chloe is organizing a charity walk in autumn to raise money for Secret Santa in Derby. The money will buy gifts for children who wouldn't get them otherwise.</p>
    <div class="mt-10 flex items-center gap-x-6">
    Cancel your donation !!
</div>
{% endblock %}